.searchContainer {
  display: flex;
  border: 1px solid var(--grey);
  padding: 4px 10px;
  border-radius: 12px;
  width: 100%;
  background-color: white;
  margin: 0 auto;

  .searchInput {
    appearance: none;
    outline: none;
    border: none;
    flex: 1;
    min-width: 50px;
    font-size: var(--min-font);
  }
  .reset {
    appearance: none;
    border: none;
    background: none;
    color: var(--grey);
    font-size: var(--min-font);
    box-shadow: none;
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
  }
}

@media screen and (min-width: 600px) {
  .searchContainer {
    max-width: 400px;
  }
}
