.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  min-height: 50px;
  box-shadow: 1px 3px 5px var(--shadow);
  z-index: 100;
  .container {
    width: var(--min-width);
  }
}
