.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  min-height: 53px;
  box-shadow: 1px 3px 5px var(--shadow);
  z-index: 100;
  .logoContainer {
    position: relative;
    color: white;
    .logo {
      position: absolute;
      left: 0;
      bottom: -13px;
      width: 55px;
      height: 50px;
    }
    .logoText {
      display: none;
      margin-left: 55px;
    }
  }
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .links {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-right: 20px;
  }
  .link {
    display: inline-block;
    position: relative;
    color: white;
    &:hover {
      border-bottom: 2px solid white;
    }
  }
  .cart {
    position: relative;
    padding-right: 10px;
    .cartIcon {
      width: 20px;
      height: 20px;
      color: white;
      filter: invert(100%);
    }
    .cartCount {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: var(--secondary);
      border-radius: 50%;
      color: white;
      font-size: 0.76rem;
      top: 0;
      right: 0;
      transform: translateX(7px) translateY(-8px);
    }
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    .logoContainer {
      .logoText {
        display: inline-block;
      }
    }
  }
}
