.gridContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  row-gap: 10px;
  width: 100%;
}
.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: var(--grey);
}
.noItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  font-size: var(--min-font);
  img {
    width: 100%;
  }
  span {
    display: inline-block;
    padding: 1.5px 20px;
    background-color: var(--border);
    color: var(--grey-dark);
    border-radius: 5px;
  }
}

/* banner */
.bannerContainer {
  width: 100%;
  aspect-ratio: 8/3;
  margin: 5px 0px 15px 0px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 101%;
    height: 101%;
    background-size: cover;
  }
  .banner {
    display: none;
  }
  .bannerSmall {
    display: block;
  }
}

/* sortToggle */
.sortToggle {
  padding: 3px 4px;
  border-radius: 14px;
  width: 95px;
  height: 29px;
  padding: 3px 7px;
  background-color: var(--secondary);
  border: 1px solid var(--border);
  z-index: 10;
  margin: auto;
  margin-left: auto;
  cursor: pointer;

  &.toggled {
    background-color: var(--primary);
    &:after {
      float: right;
      content: '庫存優先';
    }
    .sortCircle {
      float: left;
    }
  }
  &::after {
    float: left;
    content: '最新優先';
    line-height: 19px;
    font-size: 0.85rem;
    color: white;
    margin: auto;
  }
  .sortCircle {
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
  }
}

/* TagsSortContainer */
.tagsSortContainer {
  display: grid;
  grid-template-columns: 1fr 105px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .bannerContainer {
    .banner {
      display: block;
    }
    .bannerSmall {
      display: none;
    }
  }
}


@media screen and (min-width: 800px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    column-gap: calc((100% - 4 * 1fr) / 3);
    row-gap: 15px;
  }
  .sortToggle {
    margin-right: auto;
    margin-left: 0;
  }
  .tagsSortContainer {
    grid-template-columns: 1fr 140px;
  }
}

@media screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
