.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: var(--grey);
}
.noItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  font-size: var(--min-font);
  img {
    width: 100%;
  }
  span {
    display: inline-block;
    padding: 1.5px 20px;
    background-color: var(--border);
    color: var(--grey-dark);
    border-radius: 5px;
  }
}

/* banner */
.bannerContainer {
  width: 100%;
  aspect-ratio: 8/3;
  margin: 5px 0px 15px 0px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 101%;
    height: 101%;
    background-size: cover;
  }
  .banner {
    display: none;
  }
  .bannerSmall {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .bannerContainer {
    .banner {
      display: block;
    }
    .bannerSmall {
      display: none;
    }
  }
}

@media screen and (min-width: 800px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
