.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: var(--dark);
  color: white;
  margin-top: 30px;
  z-index: 100;
  .container {
    width: var(--min-width);
  }
}
