.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  background-color: var(--dark);
  color: white;
  margin-top: 30px;
  z-index: 100;
  .mediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap: 15px;
    .mediaIcon {
      width: 20px;
      height: 20px;
      color: white;
      filter: invert(100%);
    }
  }
}
