.tagsSlider {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  border-right: 2.5px solid var(--primary-light2);
  background-color: var(--primary-light3);
  padding: 5px 8px;
  border-radius: 10px 0px 0 10px;
  height: 40px;
  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    background: white;
    border: 1px solid var(--primary);
    border-radius: 3px;
    font-size: 0.85rem;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
    height: 25px;
    cursor: pointer;
    &:hover {
      background-color: var(--primary);
      color: white;
    }
    &.current {
      background-color: var(--primary);
      color: white;
    }
  }
}
.skeletonTag {
  display: inline-block;
  padding: 2px 5px;
  background: var(--skeleton);
  border-radius: 3px;
  min-width: 87px;
  height: 1.5rem;
  animation: var(--skeleton-fade);
  &:nth-child(even) {
    min-width: 65px;
  }
}

@media screen and (min-width: 800px) {
  .tagsSlider {
    flex-wrap: wrap;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: white;
    height: auto;
  }
}
