.itemCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 5px;
  border: 1px solid var(--light);
  transition: all 0.2s ease-in-out;
  box-shadow: 0.2px 0.2px 3px var(--shadow);
  text-decoration: none;
  padding: 0;
  width: 95%;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    transform: scale(1.02) translateY(-1%);
    box-shadow: 1px 3px 5px var(--shadow);
  }
  .itemImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .itemInfoDiv {
    width: 100%;
    padding: 5px;
    bottom: 0;
    left: 0;
    .itemName {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      white-space: nowrap;
      font-size: 0.9rem;
      color: black;
      max-width: 130px;
    }
    .itemPriceDiv {
      display: flex;
      justify-content: space-between;
      .itemPrice {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--primary);
        &::before {
          content: '台幣';
          margin-right: 3px;
          font-size: 0.8rem;
          font-weight: normal;
          background-color: var(--primary);
          color: white;
          padding: 1px 4px;
          border-radius: 4px;
        }
      }
      .itemStock {
        font-size: 0.9rem;
        color: var(--primary);
      }
    }
  }
}

.itemCard.soldout {
  user-select: none;
  cursor: auto !important;
  &:hover {
    transform: scale(1) translateY(0%) !important;
    box-shadow: 0.2px 0.2px 3px 0px var(--shadow);
  }
  .itemImage {
    filter: saturate(0.2);
  }
  .itemInfoDiv {
    background-color: var(--grey-light);
    color: var(--grey);
    .itemName {
      color: var(--grey);
    }
  }
  .itemPrice {
    color: var(--grey) !important;
    &::before {
      background-color: var(--grey) !important;
    }
  }
  .itemStock {
    color: var(--grey) !important;
  }
}

@media screen and (min-width: 600px) {
  .itemCard {
    .itemInfoDiv {
      .itemName {
        color: red;
        max-width: 160px;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .itemCard {
    .itemInfoDiv {
      .itemName {
        color: red;
        max-width: 140px;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .itemCard {
    .itemInfoDiv {
      .itemName {
        color: red;
        max-width: 166px;
      }
    }
  }
}
